.loggedIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  width: 100%;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(150, 150, 150);
  }

  a,
  button {
    width: 80%;

    background: #fff !important;
    color: #000 !important;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background: #000 !important;
      color: #fff !important;
      border: 1px solid #fff !important;
    }
  }
}
